img {
    border-radius: 4px;
}
.barratopo {
    display: flex;
    position: fixed;
    top:0;
    flex-direction: column;
    width: 100%;
    height: 92px;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding-top: 8px;
    padding-bottom: 18px;
    padding-left: 21px;
    box-sizing: border-box;
    z-index: 10;
}

.t1 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 44px;
    color: #FFFFFF;
}
.t2 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}
.barrabaixo {
    display: flex;
    position: fixed;
    bottom:0;
    width: 100%;
    height: 92px;
    background-color: #CF2B2B;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.botaopedido1 {
    display: none;
    flex-direction: column;
    background-color: #CBCBCB;
    height: 61px;
    width: 364px;
    border-radius: 50px;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    z-index: 10;
    

}
.botaopedido2 {
    display: flex;
    flex-direction: column;
    background-color: #32B72F;
    height: 61px;
    width: 364px;
    border-radius: 50px;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    z-index: 9;
    position: fixed;
    bottom: 15px;
    

}
.revpedido{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 11;
    justify-content: center;
    align-items: center;
}
.popconf {
    display: flex;
    flex-direction: column;
    width: 377px;
    height: 353px;
    background-color: #50D074;
    border-radius: 9px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    align-items: center;
    box-sizing: border-box;
    padding-top: 21px;
    padding-right: 25px;
    padding-left: 25px;
}
.d1 {
    Font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.itensrev {
    display: flex;
    Font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    justify-content: space-between;
    margin-top: 18px;
    width: 303px;

}
.bold {
    font-weight: 700;
}
.tudocerto {
    display: flex;
    width: 333px;
    height: 52px;
    background-color: #FFFFFF;
    border-radius: 100px;
    margin-top: 24px;
    justify-content: center;
    align-items: center;
}
.cancelar {
    display: flex;
    width: 333px;
    height: 52px;
    border-radius: 100px;
    margin-top: 12px;
    justify-content: center;
    align-items: center;
}
.d2 {
    Font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #50D074;
    
}
.display {
    display: flex;
}

.comidas{
    padding-top: 99px;
    padding-left:19px;
    height: 965px;
    width: 100%;
    background-color: #E5E5E5;
    box-sizing: border-box;
}
.p1{
    Font-family: 'Roboto', sans-serif;
    Font-style: bold;
    Font-size: 16px;
    Line-height: 19px;
    color: #333333;
    margin-top: 8px;

}
.p2{
    Font-family: 'Roboto', sans-serif;
    Font-style: light;
    Font-size: 13px;
    Line-height: 18px;
    color: #A6A6A6;
    margin-top: 4px;
}
.p3 {
    Font-family: 'Roboto', sans-serif;
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 19px;
    color: #000000;
    margin-top: 5px;
}
.p4 {
    Font-family: 'Roboto', sans-serif;
    Font-style: Regular;
    Font-size: 20px;
    Line-height: 100%;
    color: #FFFFFF;
    
}
.item {
    width: 172px;
    height: 216px;
    background-color: white;
    border-radius: 9px;
    margin-right: 16px;
    justify-content: flex-start;
    display:flex;
    flex-direction: column;
    padding-top:18px;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 13px;
    box-sizing: border-box;
    position: relative;
    border: none;

}
.item2 {
    width: 172px;
    height: 202px;
    background-color: white;
    border-radius: 9px;
    margin-right: 16px;
    justify-content: flex-start;
    display:flex;
    flex-direction: column;
    padding-top:18px;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 13px;
    box-sizing: border-box;
    position: relative;
}
.item3 {
    width: 172px;
    height: 197px;
    background-color: white;
    border-radius: 9px;
    margin-right: 16px;
    justify-content: flex-start;
    display:flex;
    flex-direction: column;
    padding-top:18px;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 13px;
    box-sizing: border-box;
    position: relative;
}
.texto {
    font-style: Regular;
    font-size: 26px;
    line-height: 32px;
    color: #333333;   
    margin-top: 23px;
    margin-bottom: 15px;
    font-family: 'Righteous', cursive;
    
}
.prato {
    display: flex;
    height: 216px;
    width: auto;
    overflow-y: scroll;   
}

.bebida {
    display: flex;
    height: 202px;
    width: auto;
    overflow-y: scroll;
    
}

.sobremesa {
    display: flex;
    height: 197px;
    width: auto;
    overflow-y: scroll;
    
    
}
.check {
    display: none;
    position: absolute;
    bottom:15px;
    right: 15px;
    color: #32B72F;
}
.setaon {
    display: flex;
}

.selecionado {
    box-shadow: inset 0px 0px 0px 6px #32B72F;
}
html {
    overflow:   scroll;
  }
::-webkit-scrollbar {
    display: none;
}